* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(228, 228, 255);
}

.site-wrapper {
  background: rgb(228, 228, 255);
  background: rgb(255, 255, 255);
  margin: 30px auto;
  max-width: 1150px;
  display: flex;
  gap: 24px;
}

.container {
  width: 760px;
  padding: 0 10px;
  margin: 20px auto;
}

input {
  cursor: pointer;
}

.input-parent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.hero-input {
  width: 360px;
  height: 48px;
  background: #FAFAFB;
  border: 1px solid #E4E9F2;
  border-radius: 4px;
  border: none;
  text-indent: 16px;
  margin-bottom: 23px;
}

.active {
  width: 290px;
  height: 48px;
  background: #FAFAFB;
  border: 1px solid #E4E9F2;
  border-radius: 4px;
  border: none;
  text-indent: 16px;
  margin-bottom: 23px;
  margin-right: 22px;
}

.form-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.5px;
  color: #8F9BB3;
  padding-bottom: 22px;
}

.input-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #8992A3;
  padding-bottom: 8px;
}

.about-book {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.input-img {
  margin-bottom: 22px;
}

.desc-text {
  padding-bottom: 8px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #8992A3;
}

.desc-input {
  margin-bottom: 32px;
  width: 230px;
  height: 48px;
  background: #FAFAFB;
  border: 1px solid #E4E9F2;
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #8F9BB3;
  text-indent: 16px;
  border: none;
}

.input-middle-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.inp2 {
  width: 100%;
}

.small-box {
  padding: 16px 0;
  gap: 9px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

small {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: #3366FF;
}

.position {
  width: 130px;
  height: 130px;
  position: relative;
}

.file-inp {
  opacity: 0;
  position: absolute;
  z-index: 3;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background: #EDF1F7;
  width: 140px;
  height: 150px;
}

.file-img {
  background: #EDF1F7;
  position: absolute;
  left: 0px;
  top: 20px;
  border: 2px dashed #bfcde5;
  border-radius: 8px;
}

.btn {
  margin-top: 50px;
  margin-left: 50%;
}

.white {
  transition: all 0.4s ease;
  padding: 12px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #2E3A59;
  border-radius: 4px;
  border: none;
  background: #FFFFFF;
}
.white:hover {
  background: #ff6161;
  color: #ffffff;
}

.blue {
  transition: all 0.4s ease;
  padding: 12px;
  border: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border-radius: 4px;
  background: #3366FF;
  border-radius: 4px;
}
.blue:hover {
  background: #d6d6d6;
  color: #000000;
}

.container2 {
  max-width: 290px;
  margin: 20px auto;
  padding: 0 10px;
}

.menu-logo {
  margin-right: 107px;
}

.anatoly-box {
  padding-bottom: 31px;
  padding-top: 34px;
  display: flex;
  align-items: center;
  border-bottom: #EDF1F7 1px solid;
}

.anatoliy-img {
  padding-right: 16px;
}

.name {
  padding-right: 80px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: right;
  letter-spacing: 0.25px;
  color: #222B45;
}

.anatoly-span {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  color: #8F9BB3;
}

.service {
  padding-top: 20px;
  display: flex;
  align-items: center;
  border-bottom: #EDF1F7 1px solid;
  padding-bottom: 19px;
}

.settings {
  width: 270px;
  background: rgb(239, 243, 255);
}

.service-img {
  padding-right: 18px;
}

.align {
  display: flex;
  justify-content: space-between;
}

.justfy {
  display: flex;
  align-items: center;
}

.service-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.25px;
  color: #222B45;
}

.padding {
  padding-left: 38px;
}/*# sourceMappingURL=style.css.map */